---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Lato:400,900italic);

// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;


// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

.hero-main {
  background-image: url('http://www.gravatar.com/avatar/1ea4ba65136ff07d67aca06125e0fc34?s=1000.png');
  background-attachment: fixed !important;
  height: 400px;
  background-size: 100%, 100%;
  background-position: 0% 0%;
  background-repeat: no-repeat;
  margin-top: 20px;
}

.about-title {
  text-align: center;
  padding-bottom: 10px;
}

.about-me-list {
  list-style: none;
  text-align: center;
  margin-left: 0px;
}

.cause-list {
  list-style: none;
}

.description a:hover {
  color: white;
}

.tech-title {
  text-align: center;
  margin-top: 0px;
}

.about-summary {
  text-align: center;
  padding-bottom: 20px;
}

.about-tech {
  text-align: center;
}

.about-cause {
  text-align: center;
}

.description {
  background: palegreen;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-weight: bold;
  color: white;
  padding-bottom: 20px;
  font-size: 18px;
}
