---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Lato:400,900italic);

// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;


// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

body {
  position: relative;
}
nav{opacity: .8;}
ul.nav.navbar-nav {
  width: 100%;
  text-align: center;
}
ul.nav.navbar-nav>li {
  float: none;
  display: inline-block;
  width: 19%;
  opacity: 1;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

li.active a{
  background-color: #500000 !important;
}


.hero-main {
  background-image: url('http://www.gravatar.com/avatar/1ea4ba65136ff07d67aca06125e0fc34?s=1000.png');
  background-attachment: fixed !important;
  height: 500px;
  background-size: 100%, 100%;
  background-position: 0% 0%;
  background-repeat: no-repeat;
}

.about-title {
  text-align: center;
  padding-bottom: 10px;
  color: white;
}

.about-description {
  background: black;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-weight: bold;
  padding-bottom: 20px;
  font-size: 18px;
}
.about-description a:hover {
  color: white;
}

.about-summary {
  text-align: center;
  padding-bottom: 20px;
  color: white;
}

.tech {
  font-family: 'Lato', sans-serif;
  background-color: whitesmoke;
  font-style: italic;
  font-weight: bold;
  padding-bottom: 20px;
  font-size: 18px;
}

.tech-title {
  text-align: center;
  padding-bottom: 20px;
  color: black;
  font-size: 24px;
}

.work {
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-weight: bold;
  padding-bottom: 20px;
  font-size: 18px;
  background-color: black;
}

.work-title {
  text-align: center;
  padding-bottom: 20px;
  color: white;
  font-size: 24px;
}

.resume {
  font-family: 'Lato', sans-serif;
  background-color: whitesmoke;
  font-style: italic;
  font-weight: bold;
  padding-bottom: 20px;
  font-size: 18px;
}

.resume-title {
  text-align: center;
  padding-bottom: 20px;
  color: black;
  font-size: 24px;
}

.footer {
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-weight: bold;
  padding-bottom: 20px;
  font-size: 18px;
  background-color: black;
}

.footer-title {
  text-align: center;
  padding-bottom: 20px;
  color: white;
  font-size: 24px;
}

.img {
    position: relative;
    width:  50%;
    height: 200px;
    background-position: 75% 75%;
    background-repeat:   no-repeat;
    background-size:     contain;
}

div.angular {
  background-image:url('/images/angularjs.png');
  float: none;
}

div.node {
  background-image:url('/images/node.png');
  float: none;
}

div.react {
  background-image:url('/images/react.png');
  float: none;
}

div.rails {
  background-image:url('/images/rails.png');
  float: none;
}

div.gulp {
  background-image:url('/images/gulp.png');
  float: none;
}

div.golang {
  background-image:url('/images/golang.png');
  float: none;
}

div.rackspace {
  background-image:url('/images/rackspace-logo.png');
  float: none;
}

div.mmm {
  background-image:url('/images/mmm.gif');
  float: none;
}
div.thfc {
  background-image:url('/images/tfhc.png');
  float: none;
}

.job-description {
  font-size: 15px;
}

.resume-container {
  overflow: scroll;
}

.resume-container iframe {
  width: 100%;
  height: 300px;
}
