<div class="row footer" id="contact">
  <div class="container-fluid">
    <div class="social-icons">
      {% if site.github_username %}
        <a href="https://github.com/{{site.github_username}}" target="new">
          <i class="svg-icon github"></i>
        </a>
      {% endif %}
      {% if site.twitter_username %}
        <a href="https://twitter.com/{{site.twitter_username}}" target="new">
          <i class="svg-icon twitter"></i>
        </a>
      {% endif %}
      {% if site.facebook_username %}
        <a href="https://facebook.com/{{site.facebook_username}}" target="new">
          <i class="svg-icon facebook"></i>
        </a>
      {% endif %}
      {% if site.linkedin_username %}
        <a href="https://www.linkedin.com/in/{{site.linkedin_username}}" target="new">
          <i class="svg-icon linkedin"></i>
        </a>
      {% endif %}
      {% if site.googleplus_username %}
        <a href="https://plus.google.com/{{site.googleplus_username}}" target="new">
          <i class="svg-icon googleplus"></i>
        </a>
      {% endif %}
      {% if site.email %}
        <a href="mailto:{{ site.email }}">
          <i class="svg-icon email"></i>
        </a>
      {% endif %}
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="./bootstrap/js/bootstrap.min.js"></script>
<script>

$(document).ready(function() {
$("nav li a[href^='#']").on('click', function(e) {

   // prevent default anchor click behavior
   e.preventDefault();

   // store hash
   var hash = this.hash;

   // animate
   $('html, body').animate({
       scrollTop: $(hash).offset().top
     }, 300, function(){

       // when done, add hash to url
       // (default click behaviour)
       window.location.hash = hash;
     });

});

  //
  // $('.resumeIframe').css('width', $(window).width()+'px');
  // $(window).on('resize', function() {
  //   $('.resumeIframe').css('width', $(window).width()+'px');
  // });
  // $('.resumeIframe').on('load', function() {
  //   $(window).width() - 20 +'px';
  //   console.log("fire");
  // })
});


</script>
