<div class="col-xs-12">
  <h1 class="row-title">Tech I Use:</h1>
</div>
<div class="col-md-4 col-xs-6 tools">
  <a href="https://angularjs.org/">
    <img src="/images/angularjs.png" alt="angularjs" height="250" width="250" class="center-block img-responsive">
  </a>
</div>
<div class="col-md-4 col-xs-6 tools">
  <a href="https://nodejs.org/">
    <img src="/images/node.png" alt="nodejs" height="250" width="250" class="center-block img-responsive">
  </a>
</div>
<div class="col-md-4 col-xs-6 tools">
  <a href="https://facebook.github.io/react/">
    <img src="/images/react.png" alt="reactjs" height="400" width="250" class="center-block img-responsive">
  </a>
</div>
<div class="col-md-4 col-xs-6 tools">
  <a href="http://rubyonrails.org/">
    <img src="/images/rails.png" alt="rails" height="250" width="250" class="center-block img-responsive">
  </a>
</div>
<div class="col-md-4 col-xs-6 tools">
  <a href="http://gulpjs.com/">
    <img src="/images/gulp.png" alt="gulp" height="250" width="250" class="center-block img-responsive">
  </a>
</div>
<div class="col-md-4 col-xs-6 tools">
  <a href="https://golang.org/">
    <img src="/images/golang.png" alt="Go" height="250" width="250" class="center-block img-responsive">
  </a>
</div>
