<div class="col-xs-12">
  <h1 class="row-title">Work</h1>
</div>
<div class="col-md-4 col-xs-12">
  <div class="thumbnail">
    <div class="thumb-image">
      <a href="http://www.rackspace.com/">
        <img src="/images/rackspace-logo.png" alt="rackspace" height="250" class="center-block img-responsive">
      </a>
    </div>
    <h2>Rackspace</h2>
    <p>
      <h3>Front-End Developer</h3>
      <p class="job-description">Worked on Customer portal tech stack included:
        <ul>
          <li>Angular</li>
          <li>jQuery</li>
          <li>Grails</li>
          <li>Gulp</li>
          <li>Jasmine</li>
          <li>Bower</li>
          <li>NPM</li>
        </ul>
      </p>
    </p>
  </div>
</div>
<div class="col-md-4 col-xs-12">
  <div class="thumbnail">
    <div class="thumb-image">
      <a href="http://millionmilemonth.org/">
        <img src="/images/mmm.gif" alt="million mile month" height="250" class=" thumb-image center-block img-responsive">
      </a>
    </div>
    <h2>Million Mile Month</h2>
    <p>
      <h3>Developer</h3>
      <p class="job-description">
        Built <a href="http://millionmilemonth.herokuapp.com/">Prototype</a> and helped with production site(click link above)
        <a href="https://github.com/GeneChatham/mmm">
          github link to Prototype code
        </a>
        <ul class="job-description">
          <li>jQuery</li>
          <li>Foundation 5</li>
          <li>Ruby/Rails</li>
          <li>Python/Django</li>
        </ul>
      </p>
    </p>
  </div>
</div>
<div class="col-md-4 col-xs-12">
  <div class="thumbnail">
    <div class="thumb-image">
      <a href="http://thefairlyhealthycouple.com/">
        <img src="/images/tfhc.png" alt="the fairly healthy couple" class="thumb-image center-block img-responsive">
      </a>
    </div>
    <h2>The Fairly Healthy Couple</h2>
    <p>
      <h3>Developer</h3>
      <p class="job-description">
        Health/Fitness/Nutrition Blog my passion project
        <ul class="job-description">
          <li>Wordpress</li>
          <li>jQuery</li>
          <li>MySQL</li>
          <li>Photoshop</li>
          <li>Pixelmator</li>
          <li>Photography</li>
        </ul>
      </p>
    </p>
  </div>
</div>
