<div class="col-xs-12">
  <div class="hero-image">
    <img src="./images/my_pic.jpg" alt="Davis Martin" class="center-block img-responsive img-circle"/>
  </div>
</div>
<div class="col-xs-12">
  <h1 class="text-center about-title">
    Davis Martin
  </h1>
  <h2 class="text-center"> Engineer &#64; <a href="http://www.rackspace.com/" target="new">Rackspace</a> / Austin, TX</h2>
</div>
<div class="col-xs-12">
  <p class="text-center about-summary">
    I Love designing and crafting awesome things for great people / companies.
    </br>
    When I'm not coding you can find me on my
    <a href="https://www.youtube.com/watch?v=8twECTLvSlo" target="new">Mountainbike</a> / Snowboard.
  </p>
</div>
