<div class="col-xs-12">
  <div class="hero-image">
    <img src="http://www.gravatar.com/avatar/1ea4ba65136ff07d67aca06125e0fc34?s=400.png" alt="" class="center-block img-responsive img-circle"/>
  </div>
</div>
<div class="col-xs-12">
  <h1 class="text-center about-title">
    Davis Martin
  </h1>
  <h2 class="text-center"> Engineer &#64; <a href="www.rackspace.com">Rackspace</a> / Austin, TX</h2>
</div>
<div class="col-xs-12">
  <p class="text-center about-summary">
    I Love designing and crafting awesome things for great people / companies.
    </br>
    When I'm not coding you can find me at
    <a href="http://thefairlyhealthycouple.com/">The Fairly Healthy Couple</a> or on my
    <a href="https://www.youtube.com/watch?v=8twECTLvSlo">Mountainbike</a> / Snowboard.
  </p>
</div>
