.book-title-image,
.post-title,
.book-image,
.book-info {
  display: inline-block;;
}

.book-image,
.book-info {
  text-align: center;
}

.book-image {
  vertical-align: top;
  padding: 0 20px 20px 0;
}

.image-details {
  text-align: center;
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 24px;
  }

}
