.footer {
  margin-top: 2%;
}

.social-icons {
  text-align: center;
}

.svg-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
}

.svg-icon.github {background-image: url('/images/github.svg')};
.svg-icon.facebook {background-image: url('/images/facebook.svg')};
.svg-icon.email {background-image: url('/images/email.svg')};
.svg-icon.twitter {background-image: url('/images/twitter.svg')};
.svg-icon.linkedin {background-image: url('/images/linkedin.svg')};
.svg-icon.googleplus {background-image: url('/images/googleplus.svg')};
