.navbar.navbar-inverse{
  border-radius: 0;
  & ul {
    width: 100%;
    text-align: center;
    border: none;
  }
  & li {
    float: none;
    display: inline-block;
    width: 19%;
    -webkit-font-smoothing: antialiased;
    &:hover {
      background-color: #fff;
    }
    & a {
      color: $navbar-link-color;
      font-size: 2rem;
      &:hover {
        color: #000000;
      }
    }
  }
}

@media screen and (max-width: $iphone) {
  .navbar ul>li {
    display: block;
    width: 100%;
  }
}
