.work {
  padding-bottom: 20px;
  background-color: black;
}

.work-title {
  text-align: center;
  padding-bottom: 20px;
  color: white;
  font-size: 24px;
}

.thumb-image {
  margin-bottom: 3%;
}

.thumbnail a>img {
  height: 250px;
}

div.angular {
  background-image:url('/images/angularjs.png');
  float: none;
}

div.node {
  background-image:url('/images/node.png');
  float: none;
}

div.react {
  background-image:url('/images/react.png');
  float: none;
}

div.rails {
  background-image:url('/images/rails.png');
  float: none;
}

div.gulp {
  background-image:url('/images/gulp.png');
  float: none;
}

div.golang {
  background-image:url('/images/golang.png');
  float: none;
}
