---
layout: default
---

<div class="row hero">
  {% include home-hero.html %}
</div>
<div class="row work" id="work">
  {% include home-work.html %}
</div>
<div class="row tech" id="tech">
  {% include home-tech.html %}
</div>
<div class="row resume" id="resume">
  {% include home-resume.html %}
</div>

<!-- <div class="row">
  <div class="col-xs-12">
    <h2>Blog</h2>
  </div>
</div> -->

<!-- <div class="row">
  <div class="col-xs-6">
    <ul class="post-list">
      {% for post in site.posts %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
        </li>
      {% endfor %}
    </ul>
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  </div>
</div> -->
<!-- <div class="home">
<div class="col-md-4">

</div>


</div> -->
